{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
            <h5>Task <board></board></h5>
            <div class="d-flex flex-wrap align-items-center justify-content-between">
              <div class="dropdown status-dropdown mr-3">
                <div class="dropdown-toggle" id="dropdownMenuButton03" data-toggle="dropdown">
                  <div class="btn bg-body"><span class="h6">sort by :</span> Select<i class="ri-arrow-down-s-line ml-2 mr-0"></i></div>
                </div>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton03">
                    <a class="dropdown-item" href="?sort=deadline_asc">Deadline: Asc</a>
                    <a class="dropdown-item" href="?sort=deadline_desc">Deadline: Desc </a>
                    <a class="dropdown-item" href="?sort=in_progress">In progress</a>
                    <a class="dropdown-item" href="?sort=completed">Completed</a>
                    <a class="dropdown-item" href="?sort=deadline_failed">Failed deadline</a>
                    <a class="dropdown-item" href="?sort=priority_desc">Priority: Highest to Lowest</a>
                    <a class="dropdown-item" href="?sort=priority_asc">Priority: Lowest to Highest</a>
                </div>
              </div>
              <div class="iq-search-bar device-search">
                  <form action="" class="searchbox" method="get">
                      {{ search_form.name }}
                      <button class="search-link"><i class="ri-search-line"></i></button>
                  </form>
              </div>
              <div class="pl-3 btn-new">
                <a href="{% url 'task:task-create' %}" class="btn btn-primary" >New Task</a>
                <a href="{% url 'task:task-type-list' %}" class="btn btn-primary" >Task types</a>
                <a href="{% url 'task:tag-list' %}" class="btn btn-primary" >Task tags</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="grid" class="item-content animate__animated animate__fadeIn active" data-toggle-extra="tab-content">
    <div class="row">
      {% if task_list %}
        {% for task in task_list %}
          <div class="col-lg-4">
            <div class="card-transparent mb-4 desk-info">
              <div class="card-body p-0">
                <div class="card">
                  <div class="card-body " style="position: relative">
                    <h5 class="mb-3">{{ task.name|truncatechars:10 }}</h5>
                    <p class="mb-3"><i class="fa-regular fa-circle-dot"></i> Opened: {{ task.created_at }}</p>
                    <p class="mb-3"><i class="fa-regular fa-circle-dot"></i> Deadline: {{ task.deadline }}</p>
                    <p class="mb-3"><i class="fa-regular fa-circle-dot"></i> Priority: {{ task.get_priority_display }}</p>
                    <p class="mb-3"><i class="fa-regular fa-circle-dot"></i> Completed: {{ task.is_completed|yesno:"Yes,No" }}</p>

                    <div class="d-flex align-items-center justify-content-between">
                      <div>
                        <button  class="btn btn-light">{{ task.task_type }}</button>
                      </div>
                      <a href="{% url "task:task-detail" pk=task.id %}" class="btn btn-primary" style="position: absolute; top: 15px; right: 15px;">Detail view</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col-lg-12 d-flex justify-content-center">
          <p>We don't have any task at all or by your sorting etc...</p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
