{% extends "base.html" %}

{% block content %}
  <div class="col-lg-12">
    <div class="card-transparent mb-4 desk-info">
      <div class="card-body p-0">
        <div class="card">
          <div class="card-body " style="position: relative">
            <div class="buttons-right">
              <a href="{% url 'task:task-delete' pk=task.id %}" class="btn btn-danger">Delete</a>
              <a href="{% url 'task:task-update' pk=task.id %}" class="btn btn-success">Update</a>
            </div>
            <h5 class="mb-3">Name: {{ task.name }}</h5>
            <text class="mb-41">
              Description: <br>{{ task.description }}
            </text>
            <p class="mb-3"><h5>Opened</h5>{{ task.created_at }} </p>
            <p class="mb-3"><h5>Deadline</h5>{{ task.deadline }} </p>
            <p class="mb-3"><h5>Priority</h5> {{ task.get_priority_display }} </p>
            <p class="mb-3"><h5>Completed</h5>{{ task.is_completed|yesno:"Yes,No" }} </p>
            <p class="mb-3"><h5>Assignees</h5></p>
            <ul>
              {% for employee in task.assignees.all %}
                <li>
                  <a href="{% url 'employee:employee-detail' pk=employee.id %}">{{ employee.username }}</a>
                </li>
              {% endfor %}
            </ul>
            <p class="mb-3">
              <h5>Task Type</h5>
              <a href="{% url 'task:task-type-detail' pk=task.task_type_id %}">{{ task.task_type }}</a>
            </p>
            {% if task.tags.all %}
              <p class="mb-3"><h5>Tags</h5></p>
                  {% for tag in task.tags.all %}
                    <a href="{% url 'task:tag-detail' pk=tag.id %}"><i class="fa-solid fa-hashtag">{{ tag.name }}</i></a>
                  {% endfor %}
            {% endif %}
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <button class="btn btn-light">{{ task.task_type }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
